body{
    font-family: 'Nunito', sans-serif;
}

.poster{
    height: 11in;
    width: 8.5in;
    display: flex;
    background-color: #1d1d1b;
    border: 10px solid black;
}

.grid{
    width: 600px;
    height: 712.8px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 20px;
    background: #1d1d1b;

    margin-top: 80px;
    margin-left: 105px;
}

.seven-five{
    background: #ffffff;
    opacity: 75%;
    border-radius: 50% 50% 50% 50%;
    padding: 2em;
}

.five-zero{
    background: #ffffff;
    opacity: 50%;
    border-radius: 50% 50% 50% 50%;
    padding: 2em;
}

.two-five{
    background: #ffffff;
    opacity: 25%;
    border-radius: 50% 50% 50% 50%;
    padding: 2em;
}

.full{
    background: #ffffff;
    border-radius: 50% 50% 50% 50%;
    padding: 2em;
}

.footer{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 32px;
    width: 600px;
    height: 30px;
    color: #ffffff;
    position: absolute;
    top: 920px; left: 125px;
    border-top: 3px solid #ffffff;
}

.right
{
    text-align: right;
    margin-top: -76px;
}