
 main {
   position: relative;
 }

.dog-image {
   max-width: 100%;
   height: auto;
 }

.new-dog-button {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
 }

body{
   background-color: #C9C9EE;
}


 @media (max-width: 768px) {
   .dog-image {
     max-width: 80%;
   }
 }