h1 {
  font-family: "fit-variable", sans-serif;
  font-variation-settings: "wdth" 100;
  font-size: 300px;
  font-weight: normal;
  margin: 0;
  color: red;
  transition: all 1000ms ease-in-out;
}
h1:hover{
  color: blue;
  font-variation-settings: "wdth" 3600;
}

h2{
   font-family: "stinger-variable",sans-serif;
   font-variation-settings: 'wght' 800, 'wdth' 120;
   font-size: 300px;
   font-weight: normal;
   margin-top: 50;
   color: cornflowerblue;
   transition: all 1000ms ease-in-out;
}

h2:hover{
   font-variation-settings: 'wght' 800, 'wdth' 120;
   color: orange;
}