body{
    background: #1A1617;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(7, minmax(0, 1fr));
    width: 1600px;
    height: 2800px;
    margin: auto;
    margin-top: 50px;
    min-height: 0;
}

h1{
    color: #ebdfc5;
    font-size: 110px;
    overflow: hidden;
    margin-top: -7px;

    font-family: "abril-display", serif;
    font-weight: 700;
}

h2{
    color: #ebdfc5;
    font-size: 45px;
    overflow: hidden;
    margin-bottom: 325px;
    margin-left: 18px;

    font-family: "abril-display", serif;
    font-weight: 700;
}

.two-block{
    background: #1A1617;
    grid-column: span 2;
    
}

.no-block{
    display: none;
}

.black-block{
    background: #1A1617;
    transition: all .1s ease-in-out;
}

.red-block{
    background: #ee3b24;
    transition: all .1s ease-in-out;
}

.gold-block{
    background: #bd9054;
    transition: all .1s ease-in-out;
}


.green-block{
    background: #008043;
    transition: all .1s ease-in-out;
}


.blue-block{
    background: #0552a4;
    transition: all .1s ease-in-out;
}


.yellow-block{
    background: #df9d0b;
    transition: all .1s ease-in-out;
}


.grey-block{
    background: #cbbc9b;
    transition: all .1s ease-in-out;
}

.red-block:hover{
    transform: scale(1.03);
}

.gold-block:hover{
    transform: scale(1.03);
}

.green-block:hover{
    transform: scale(1.03);
}

.blue-block:hover{
    transform: scale(1.03);
}

.yellow-block:hover{
    transform: scale(1.03);
}

.grey-block:hover{
    transform: scale(1.03);
}

section{
    margin-top: 55px;
}

article{
    margin-top: 4.5px;
}